<div class="container mb-3" style="display: unset;">
  <div class="row">
    <h1><%= @user.name %>'s Dashboard</h1>
      <div class="d-flex" style="width: 100vw;">
        <% if @current_user.avatar.attached? %>
          <%= cl_image_tag(@current_user.avatar.key, :width=>200, :height=>200, :radius=>"max", :crop=>"fill", class: "mx-auto") %>
        <% else %>
          <%= @user.name %>
          <%= @user.email %>
        <% end %>
      </div>
    <div class="row">
      <% if @upcoming_bookings.present? %>
      <h2>My Upcoming Bookings</h2>
      <% @upcoming_bookings.each do |booking| %>
      <div class="card">
         <% if booking.life.photos.attached? %>
                <%= cl_image_tag booking.life.photos.first.key %>
              <% else %>
                <img src="https://res.cloudinary.com/dial2brux/image/upload/v1656137551/Rentident_avatar_q8soqp.png" alt="">
              <% end %>
          <div class="card-body">
              <p><%= booking.status.upcase %></p>
              <h5 class="card-title">
              <%= booking.life.title %>
              </h5>
              <p class="card-text"><%= booking.life.bio[0,50] %>...</p>
              <h5 class="card-text">Cost: $<%= booking.life.price %></h5>
              <p> Dates: <%= booking.start_date %> to <%= booking.end_date %> </p>
              <h5 class="btn"><%= link_to "See more", life_path(booking.life) %></h5>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
    <div class="row">
      <h2>My Lives for rent</h2>
      <div class="row">
        <% @user.lives.each do |life| %>
        <div class="card col-6">
          <% if life.photos.attached? %>
            <%= cl_image_tag life.photos.first.key, :crop => "pad" %>
          <% else %>
            <img src="https://res.cloudinary.com/dial2brux/image/upload/v1656137551/Rentident_avatar_q8soqp.png" alt="">
          <% end %>
           <div class="card-body">
            <h5 class="card-title">
            <%= life.title %>
            </h5>
            <p class="card-text"><%= life.bio[0,50] %>...</p>
            <% if life.rating.present?%>
              <h5 class="card-text"><%= "☆" * life.rating %></h5>
            <% else %>
              <h5 class="card-text">This life has no ratings yet!</h5>
            <% end %>
            <h5 class="card-text">$<%= life.price %></h5>
            <h5 class="btn"><%= link_to "See bookings", life_path(life) %></h5>
          </div>
            <% @my_bookings.first.each do |booking| %>
              <%= User.where(id: booking.user_id).first.name %>
            <% end %>
        </div>
        <% end %>
      </div>
      <div>
        <h2>Edit your profile</h2>
        <a href=" <%= edit_user_registration_path %> " class="btn btn-primary">button</a>
      <div>
        <h2>Make a new booking</h2>
        <a href=" <%= lives_path %> " class="btn btn-primary">Browse available lives!</a>
      </div>
    </div>
</div>
