<div class="container mt-3 mb-3">
  <h1>User Dashboard</h1>
  <div>
    <h2>User Info</h2>
    <%= cl_image_tag(@current_user.avatar.key, :width=>200, :height=>200, :radius=>"max", :crop=>"fill") %>
    <%= @user.name %>
    <%= @user.email %>
  </div>
    <% @user.bookings.each do |booking| %>
      <li>Life Name: <%= booking.life.title %></li>
      <li>About: <%= booking.life.bio %></li>
      <li>Cost: <%= booking.life.price %></li>
      <li>Dates: <%= booking.start_date %> to <%= booking.end_date %></li>
    <% end %>
  <div>
  <div>
    <h2>My Lives for rent</h2>
    <% @user.lives.each do |life| %>
      <li>Life Name: <%= life.title %></li>
      <li>Bio: <%= life.bio %></li>
      <li>Cost: $<%= life.price %></li>
    <% end %>
  </div>
    <h2>Make a new booking</h2>
    <a href=" <%= lives_path %> " class="btn btn-primary">button</a>
  </div>
</div>
