<h1>lives new page</h1>
<p>Find me in app/views/lives/new.html.erb</p>
<% if policy(@life).create? %>
  <%= link_to "New life", new_life_path %>
<% end %>


<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-12">
    <h2>Create a new life:</h2>
    <%= simple_form_for @life do |f| %>
    <%= f.input :photo, as: :file %>
    <%= f.input :title, placeholder: 'What is your life called' %>
    <%= f.input :bio, placeholder: 'Describe your life!' %>
    <%= f.input :price, placeholder: 'How much to rent your life?' %>
    <% @life.user_id = current_user %>
    <%= f.submit class: 'btn btn-primary' %>
    <% end %>
    </div>
  </div>
</div>
