<div class="content">
  <div class="container" id="show">
    <div class="card" style="width: 80%">
      <% if @life.photos.attached? %>
        <%= cl_image_tag @life.photos.first.key %>
      <% else %>
       <img src="https://res.cloudinary.com/dial2brux/image/upload/v1656137551/Rentident_avatar_q8soqp.png" alt="">
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= @life.title %></h5>
        <p class="card-text"><%= @life.user.name %></p>
        <p class="card-text"><%= @life.bio %></p>
      </div>
      <ul class="list-group list-group-flush">
      <% if @life.rating.present?%>
        <li class="list-group-item"><%="☆" * @life.rating %></li>
      <% else %>
        <li class="list-group-item">This life has no ratings yet!</li>
      <% end %>
        <li class="list-group-item">$<%= @life.price %></li>
      </ul>
      <div class="card-links">
        <%= link_to 'Book Now', new_booking_path(:life_id=>@life.id), id: "path-link" %>
        <%= link_to 'Back to Results', lives_path, id: "path-link" %>
      </div>
    </div>
  </div>

  <% if current_user == @owner %>
    <%= render "components/bookings" %>
  <% end %>
<%# raise %>