<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <head>
    <title>RailsRentIdent</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render "components/navbar" %>
    <%= yield %>
  </body>
  <div class="footer-basic">
    <footer>
      <div class="social"><a href=""><i class="icon ion-social-instagram"></i></a><a href=""><i class="icon ion-social-snapchat"></i></a><a href=""><i class="icon ion-social-twitter"></i></a><a href=""><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="">Home</a></li>
          <li class="list-inline-item"><a href="">Services</a></li>
          <li class="list-inline-item"><a href="">About</a></li>
          <li class="list-inline-item"><a href="">Terms</a></li>
          <li class="list-inline-item"><a href="">Privacy Policy</a></li>
        </ul>
    <p class="copyright">Le Wagon Set Team © 2022</p>
    </footer>
  </div>
</html>
